@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Rubik", serif;
  }

body{
background: #1A1A1A;
}

  
  #__next {
    overflow-x: hidden;
  }

  /* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FF9142;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.MuiButton-contained{
padding: 15px 35px !important;
border-radius: 50px !important;
background-color: #030304 !important;
box-shadow: none !important;
border: 1px solid #696969 !important;
font-size: 14px !important;
font-weight: 700 !important;
color: rgba(255, 255, 255, 0.5) !important;
transition: all 0.3s ease-in-out !important;
&:hover{
  color: #FF9142 !important;
  border: 1px solid #FF9142 !important;
}

@media (max-width : 1199px){
padding: 10px 25px !important;
}
  }



// .containedPrimary{
// background: #FF9142 !important;
// font-size: 13px !important;
// text-transform: capitalize !important;
// font-family: "Rubik", serif !important;
// color: #ffffff !important;
// padding: 24px 40px !important;
// border-radius: 50px !important;
//   }


.cmnGap{
  padding: 100px 0;

  @media (max-width :1199px){
    
  padding: 60px 0;
  }
}